/**
 * colors.scss
 * Defines basic colors for the app.
 */
$white: #fff;
$black: #000;

$primary: #706df8;
$secondary: $black;
$body-bg-color: #1b2530;

$header-bg: rgba(0, 0, 0, 0.8);

$footer: #2c2c2c;
$link: #6c7293;
$link-light: #d6d4dc4f;
$label-color: #b9b9b9;
$border-color: #b9b9b9;

$deep-shadow: rgba(82, 63, 105, 0.15);
$light-shadow: rgba(82, 63, 105, 0.1);
